In [64]:
import pandas as pd
import cv2

In [65]:
df = pd.read_csv('annotation.csv', delimiter=',', usecols = (0, 2), names = ('AbsPath', 'Name'))

In [66]:
df

                                                AbsPath Name
0     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat
1     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat
2     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat
3     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat
4     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat
...                                                 ...  ...
2385  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog
2386  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog
2387  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog
2388  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog
2389  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog

[2390 rows x 2 columns]

Задание 1,2

In [67]:
df['Class'] = df['Name'].apply(lambda name: 0 if name == 'cat' else 1)

In [68]:
df

                                                AbsPath Name  Class
0     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat      0
1     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat      0
2     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat      0
3     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat      0
4     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat      0
...                                                 ...  ...    ...
2385  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog      1
2386  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog      1
2387  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog      1
2388  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog      1
2389  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog      1

[2390 rows x 3 columns]

Задание 3

In [69]:
df['Height'] = df['AbsPath'].apply(lambda path: cv2.imread(path).shape[0])

In [70]:
df['Width'] = df['AbsPath'].apply(lambda path: cv2.imread(path).shape[1])

In [71]:
df['Depth'] = df['AbsPath'].apply(lambda path: cv2.imread(path).shape[2])

In [72]:
df

,AbsPath,Name,Class,Height,Width,Depth
0,C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...,cat,0,320,427,3
1,C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...,cat,0,320,444,3
2,C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...,cat,0,320,480,3
3,C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...,cat,0,300,480,3
4,C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...,cat,0,300,480,3
...,...,...,...,...,...,...
2385,C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...,dog,1,300,480,3
2386,C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...,dog,1,320,480,3
2387,C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...,dog,1,320,480,3
2388,C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...,dog,1,312,480,3
2389,C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...,dog,1,320,400,3

Задание 4

In [73]:
df.describe()

             Class       Height        Width   Depth
count  2390.000000  2390.000000  2390.000000  2390.0
mean      0.499582   310.106695   461.138494     3.0
std       0.500104    15.692549    42.122701     0.0
min       0.000000   247.000000   160.000000     3.0
25%       0.000000   300.000000   469.000000     3.0
50%       0.000000   320.000000   480.000000     3.0
75%       1.000000   320.000000   480.000000     3.0
max       1.000000   320.000000   480.000000     3.0

In [74]:
df['Class'].describe().value_counts()

Class
0.000000       3
1.000000       2
2390.000000    1
0.499582       1
0.500104       1
Name: count, dtype: int64

Задание 5 #сбалансированный набор данных

In [75]:
def filter_df(df: pd.DataFrame, class_name: int) -> pd.DataFrame:
    """
    Данная функция возвращает датафрейм, состоящий из строк, для которых значение метки соответствует заданному
    """
    new_df = df[df['Class'] == class_name]
    return new_df

In [76]:
df_0 = filter_df(df, 0) 
df_1 = filter_df(df, 1)

In [77]:
df_0

,AbsPath,Name,Class,Height,Width,Depth
0,C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...,cat,0,320,427,3
1,C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...,cat,0,320,444,3
2,C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...,cat,0,320,480,3
3,C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...,cat,0,300,480,3
4,C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...,cat,0,300,480,3
...,...,...,...,...,...,...
1191,C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...,cat,0,320,480,3
1192,C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...,cat,0,317,480,3
1193,C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...,cat,0,320,427,3
1194,C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...,cat,0,300,480,3
1195,C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...,cat,0,300,480,3

Задание 6

In [78]:
def filter_df_max(df: pd.DataFrame, class_name: int, max_height: int, max_width: int) -> pd.DataFrame:
    """
    Данная функция возвращает датафрейм, для которого размеры удовлетворяют следующему условию: 
    height <= max_height and width <= max_width, а метка класса соответствует указанной.
    """
    new_df = df[(df['Class'] == class_name) & (df['Height'] <= max_height) & (df['Width'] <= max_width)]
    return new_df

In [79]:
df_0_filter = filter_df_max(df, 0, df['Height'].max(), df['Width'].max())
df_1_filter = filter_df_max(df, 1, df['Height'].max(), df['Width'].max())

In [80]:
df_1_filter

,AbsPath,Name,Class,Height,Width,Depth
1196,C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...,dog,1,320,427,3
1197,C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...,dog,1,320,480,3
1198,C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...,dog,1,320,427,3
1199,C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...,dog,1,270,480,3
1200,C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...,dog,1,300,480,3
...,...,...,...,...,...,...
2385,C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...,dog,1,300,480,3
2386,C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...,dog,1,320,480,3
2387,C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...,dog,1,320,480,3
2388,C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...,dog,1,312,480,3
2389,C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...,dog,1,320,400,3

Задание 7