In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('annotation.csv', delimiter=',', usecols = (0, 2), names = ('AbsPath', 'Name'))

In [8]:
df

                                                AbsPath Name
0     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat
1     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat
2     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat
3     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat
4     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat
...                                                 ...  ...
2386  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog
2387  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog
2388  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog
2389  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog
2390  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog

[2391 rows x 2 columns]

Задание 1,2

In [9]:
df['Class'] = df['Name'].apply(lambda name: 0 if name == 'cat' else 1)

In [10]:
df

                                                AbsPath Name  Class
0     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat      0
1     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat      0
2     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat      0
3     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat      0
4     C:\Users\RobotComp.ru\Desktop\Lab\dataset\cat\...  cat      0
...                                                 ...  ...    ...
2386  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog      1
2387  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog      1
2388  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog      1
2389  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog      1
2390  C:\Users\RobotComp.ru\Desktop\Lab\dataset\dog\...  dog      1

[2391 rows x 3 columns]

Задание 3